:root {
    --colors: rgba(255, 248, 184, 0.533);
    --colors: rgba(255, 248, 142, 0.537);
    --colors: rgba(255, 232, 104, 0.471);
    --colors: rgba(255, 152, 88, 0.596);
    --colors: rgba(255, 22, 36, 0.196);
    --colors: rgba(255, 72, 136, 0.533);
    --colors: rgba(255, 72, 189, 0.408);
    --colors: rgba(255, 216, 232, 0.533);
    --colors: rgba(255, 232, 248, 0.973);
    --colors: rgba(255, 168, 184, 0.973);
    --colors: rgba(255, 132, 132, 0.973);
    --colors: rgba(255, 72, 72, 0.533);
    --colors: rgba(255, 72, 104, 0.91);
    --colors: rgba(255, 104, 168, 0.91);
    --colors: rgba(255, 248, 184, 0.784);
    --colors: rgba(255, 248, 137, 0.784);
}